.colored-panel {
  height: 66vh;
  width: 100vw;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.main-title {
 font-size: 64px;
 font-weight: bold;
}

.subtitle {
 font-size: 48px;
}

.title-icon {
  height: 96px;
  width: 96px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

.divider {
 margin-bottom: 20px;
}

body {
  background-color: #212121;
}
