<article class="pub">
    <strong>{{ pub.title }}</strong>
    <br>
    {{ pub.authors }}
    <br>
    {{ pub.journal }}
    <br>
    {% for tag in post.tags %}
        <div class="topictag">{{ tag }}</div>
    {% endfor %}
    <br>
    {% if pub.ads_link %}
        [<a href="{{ pub.ads_link }}">ADS</a>]
    {% endif %}
    {% if pub.code_link %}
        [<a href="{{ pub.code_link }}">ADS</a>]
    {% endif %}

</article>

**Core-collapse Supernovae: From Neutrino-driven 1D Explosions to Light Curves and Spectra**
<br>
Curtis, S., **Wolfe, N.**, Fröhlich, C., Miller, J. M., Wollaeger, R., & Ebinger, K. (2021)
<br>
The Astrophysical Journal.
<br>